<a href="https://colab.research.google.com/github/Nehalc26/Machine_Learning_Lab_CS3/blob/master/lists_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# list creation
countries = ['India', 'Australia', 'USA']

# print whole list
print(countries)

# Accessing list elements
print("Value at 0 index: ",countries[0])

# assignning new value to index
countries[0]='Germany'

print("New value at index 0: ",countries[0])

['India', 'Australia', 'USA']
Value at 0 index:  India
New value at index 0:  Germany

In [3]:
hybridlists=['My name is',
             'I am in',
             3,
             'Semester']

print(hybridlists)

# we can access the elements of list using loops

for item in hybridlists:
    print(item)

['My name is', 'I am in', 3, 'Semester']
My name is
I am in
3
Semester

In [2]:
# print the index number with value

countries = ['India', 'Australia', 'USA']

for index, country in enumerate(countries):
    place = str(index)
    print("Index: " + place + ", Value: " + country)
    
# find index of
index = countries.index('India') 
print("\n Index of India is: ",index)

Index: 0, Value: India
Index: 1, Value: Australia
Index: 2, Value: USA

 Index of India is:  0

In [4]:

# Remove the last country from the list by index or by value
del countries[2]

print(countries)

['India', 'Australia']

In [5]:
# without comprehension

cubes = []
for x in [1, 2, 3, 4, 5]:
    cubes.append(x ** 3) 
    
print(cubes)

[1, 8, 27, 64, 125]

In [6]:
# with comprehension
  
cubes= [x**3 for x in [1, 2, 3, 4, 5]]
print(cubes)

[1, 8, 27, 64, 125]

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list=[x for x in numbers]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Declaring Job Profiles
Job_Profile = ['Driver', 'Writer', 'Manager', 'Teacher']

# Finding index of Manager
Manager_idx = Job_Profile.index('Manager')
print("Index of 'Manager' is", Manager_idx)
print()

# Checking whether Poet is in our list or not
print('Poet' in Job_Profile)
print()

# Appending Poet in Job_Profile
Job_Profile.append('Poet')
print(Job_Profile)
print()

# Inserting Python Programmer at begining of list
Job_Profile.insert(0, 'Python Programmer')
print()

for Job in Job_Profile:
  print(Job)

Index of 'Manager' is 2

False

['Driver', 'Writer', 'Manager', 'Teacher', 'Poet']


Python Programmer
Driver
Writer
Manager
Teacher
Poet

In [9]:
# Making the list
Famous_Persons = ['Virat Kohli', 'Hritik Roshan', 'Vishwanathan Anand', 'Satya Nadella', 'Elon Musk' ]

# Removing list item
del Famous_Persons[2]
print(Famous_Persons)

Famous_Persons.remove('Satya Nadella')
print(Famous_Persons)

Famous_Persons.pop()
print(Famous_Persons)

Famous_Persons.pop(0)
print(Famous_Persons)

Famous_Persons.pop()
print(Famous_Persons)

print("No Famous People are left into the list.")

['Virat Kohli', 'Hritik Roshan', 'Satya Nadella', 'Elon Musk']
['Virat Kohli', 'Hritik Roshan', 'Elon Musk']
['Virat Kohli', 'Hritik Roshan']
['Hritik Roshan']
[]
No Famous People are left into the list.

In [10]:
# Making the alphabet list
Alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Printing out First 3 letters
print(Alphabet[:3])

# Printing out any 3 letters from middle
print(Alphabet[3:6])

# Printing out last 5 elements
print(Alphabet[5:])

['a', 'b', 'c']
['d', 'e', 'f']
['f', 'g', 'h', 'i', 'j']

In [11]:
# Making The List
People_Orig = ['Honey', 'Bunny', 'Toney']

# Making a Copy
People_Copy = People_Orig[:]

# Adding 2 People
People_Copy.append('Goluu')
People_Copy.append('Chintoo')

# Displaying Original List
print("This is the Original List...")
for name in People_Orig:
  print(name)

print()
# Displaying Copied List
print("This is the copied List...")
for name in People_Copy:
  print(name)

This is the Original List...
Honey
Bunny
Toney

This is the copied List...
Honey
Bunny
Toney
Goluu
Chintoo

In [12]:
Marks = [12, 14, 15, 10, 11, 10, 13, 14, 13, 12, 15, 11, 12, 13, 14]

print("Maximum marks obtained: ", max(Marks))
print("Minimum marks obtained: ", min(Marks))
print("Sum of marks obtained: ", sum(Marks))
print("Average marks obtained: ", sum(Marks)/15)

rev_marks = Marks[::-1]
print("Reversed list is: ", rev_marks)

Maximum marks obtained:  15
Minimum marks obtained:  10
Sum of marks obtained:  189
Average marks obtained:  12.6
Reversed list is:  [14, 13, 12, 11, 15, 12, 13, 14, 13, 10, 11, 10, 15, 14, 12]

In [13]:
n = int(input("Enter any number: "))
Numbers = []

for i in range(n):
  Num = int(input("Enter the number: "))
  Numbers.append(Num)

print("Initial List: ", Numbers)

for i in Numbers:
  if i%2 != 0:
    Numbers.remove(i)

print("Updated List: ", Numbers)

Enter any number: 5
Enter the number: 2
Enter the number: 3
Enter the number: 98
Enter the number: 5
Enter the number: 4
Initial List:  [2, 3, 98, 5, 4]
Updated List:  [2, 98, 4]

In [14]:
# Creating Empty List
Countries = []

n = int(input("Enter number of countries: "))

for _ in range(n):
  Name = input("Enter name of the country: ")
  Countries.append(Name)

for name in Countries:
  if name == 'India':
    print(name + " is Great.")
  else:
    print(name)

Enter number of countries: 6
Enter name of the country: a
Enter name of the country:
Enter name of the country: d
Enter name of the country: f
Enter name of the country: h
Enter name of the country: r
a

d
f
h
r

Program 8: Write a Python program to find the list in a list of lists whose sum of elements is the highest.
Sample lists: [[1,2,3], [4,5,6], [10,11,12], [7,8,9]] Expected Output: [10, 11, 12]

In [15]:
# Creating The List
Nested_list = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]

# Finding The List With Highest Sum
i = 0
Sum = 0
for List in Nested_list:
  S = sum(List)
  if S >= Sum:
    Sum = S
    idx = i

  i = i + 1

print(Nested_list[idx])

[10, 11, 12]